<div class="tab">
  <button class="tablinks" routerLink="/product">Create Product</button>
  <button class="tablinks" routerLink="/recommendation">Recommendation</button>
  <button class="tablinks" routerLink="/addbrand">Add By Brand</button>
  <button class="tablinks" routerLink="/deletebrand">Delete By Brand</button>
  <button class="tablinks" routerLink="/addsubcategory">Add By Subcategory</button>
  <button class="tablinks" routerLink="/deletesubcategory">Delete By Subcategory</button>
</div>
