<button class="btn btn-light" routerLink="/producttab">Back</button>

<div class="card">
  <div class="card-body">

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Add Product By Subcategory</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" >Category</div>
        <div class="col-sm-6" >
         <select class="form-control" (change)="getSubCategory($event)" >
          <option value="" disabled>Select Category</option>
          <option value="1001">Wellness</option>
          <option value="1003">Electronics</option>
          <option value="1014">Fahad_Category</option>
         </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" >SubCategory</div>
        <div class="col-sm-6" >
         <select class="form-control" (change)="confirmation($event)" >
          <option value="null">Select SubCategory</option>
          <option *ngFor="let item of subCategoryList" value="{{item.id}}">{{item.name}}</option>
         </select>
        </div>
      </div>

      <div *ngIf="display" class="row">
        <label>Are you want to add product of {{subName}} Subcatagory ?</label>

        <button class="btn btn-danger" type="submit" (click)="addProducts()">Confirm</button>
      </div>

    </div>
  </div>
</div>
